body{
	font-family: 'Jost', sans-serif;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRB5lFudaiWXzPAdzj38uG4xJ6IZ_EWtjHZcg&usqp=CAU');
	background-size: cover;
}
h1{
	margin-top: 0px;
	color: black;
	text-align: center;
}

.paragraph{
	margin-top: 0px;
	color: black;
	text-align: center;
	font: italic;
}
.Container{
	margin-left: 10px;
	margin-right: 20px;
	width: 500px;
	height: auto;
	background-color: #0f0f45cc;
	opacity: 0.95;
	//background-image: https://i.pinimg.com/originals/c7/8c/65/c78c657d4e5c436649d9a6b5bd2dc410.jpg;
	margin-top: 50px;
	margin: auto;
}
.textColour{
	margin-left: 20px;
	margin-top: 13px;
	color: white;
}
.boxClass{
	margin-left: 20px;
	margin-top: 3px;
	padding: 7px;
	width: 430px;
    border-radius: 3px;
    border : 0;
}
.marginClass{
	margin-left: 20px;
}
.textareaclass{
	margin-top: 10px;
	border-radius: 3px;
}
.marginTop{
	margin-top: 20px;
}
.submitClass{
	background-color: #57B846;
	border:0;
	color: white;
	margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 3px;
    width: 525px;
    padding: 10px;
}